<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
</head>
<body>
  <table>
    <% @hits.each do |hits| %>
    <% @answer.each do |answer| %>
    <% %>

    <tr>
      <thead>
        <th>タイトル</th>
        <th>質問</th>
        <%# <th>答え</th> %>
    </thead>
    <tbody>
      <tr>
        <td><%= CGI.escapeHTML(hits.title)%></td>
        <td><%= CGI.escapeHTML(hits.question)%></td>
        <%# <td></td> %>
      </tr>
    </tbody>
    <% end %>
  </table>

</body>
</html>